# stranka s chybovym hlasenim pro chybu 404 - nenalezen
# ErrorDocument 404 /404.html
# ErrorDocument 403 /403.html

# nastaveni vychozi stranky adresare
#DirectoryIndex index.php index.html

RewriteBase /galeon

#adresy - maskování
RewriteEngine On

RewriteRule ^location   pages/location.php
RewriteRule ^apartment  pages/apartment.php
RewriteRule ^contact    pages/contact.php
RewriteRule ^rent       pages/rent.php
RewriteRule ^calendar   pages/calendar.php

