footer {
  padding: 0 10%;
  background: $white;
  
  .wrapper {
    padding: 1em 0;
  }
  
  .address {
    padding: 1em 0 0 0;
  }
  
  .copyright {
    padding: 0em 0 0em;
    text-align: center;
    color: $black;
    font-size: $font-s;
  }
}