footer {
  padding: 0 10%;
  background: $white;
  
  .wrapper {
    padding: 1em 0;
  }
  
  .copyright {
    background-image: url('../../images/logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 40px;
    font-size: $font-s;
    height: 40px;
    text-align: center;
    text-indent: -9999px;
  }
}