header {
  h1.header-logo-left {
    display: block;
    height: 110px;
    background-position: 50% 40%;
    background-size: contain;

    a {
      display: block;
      width: 100%;
      height: 112px;
      text-indent: -9999px;
    }
  }
}

.main-menu {
  margin: 1em auto;
  text-align: center;

  ul li {
    display: inline-block;
    margin: 0 2em 0 0;
  }

  a {
    text-decoration: none;
    color: $black;
    font-size: $font-m;
  }
  
  a:hover {
    color: $yellow;
  }
  
  a.active, a.selected {
    color: $yellow;
  }
}