header {
  padding: 0 10%;
  
  h1.header-logo-left {
    background-image: url('../../images/logo.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 60%;
    display: block;
    height: 100px;

    a {
      display: block;
      height: 100px;
      text-indent: -9999px;
    }
  }
}

.main-menu {
  margin: 1em auto;
  text-align: center;

  ul li {
    display: inline-block;
    margin: 0 2em 0 0;
  }

  a {
    text-decoration: none;
    color: $black;
    font-size: $font-m;
  }
  
  a:hover {
    color: $yellow;
  }
  
  a.active, a.selected {
    color: $yellow;
  }
}