.main {
  padding: 0 10%;

  &.js-background {
    background-image: url('../../images/tor1.jpg');
    background-position: center center;
    background-size: cover;
    @include transition(all, 1s, ease-in-out);

    &.img1 { 
      background-image: url('../../images/tor1.jpg'); 
    }
    
    &.img2 { 
      background-image: url('../../images/tor2.jpg');
      background-position: center center;
    }
    
    &.img3 { 
      background-image: url('../../images/tor3.jpg');
      background-position: center 90%;
    }
    
    &.img4 { 
      background-image: url('../../images/tor4.jpg');
      background-position: center center;
    }

  }

  .wrapper {
    height: 500px;
    overflow: hidden;
  }
  
  .box1 {
    text-align: center;
    margin: 2em 0 0;
    padding: 1em;
    width: 250px;
    height: auto;
    background: $red-opacity;
    float: left;

    h1 {
      color: $white;
      font-family: 'PT Sans';
      font-size: $font-xl;
      font-style: italic;
      margin: 10px 0 5px;
      padding: 0 0 0.5em 0;
      text-align: left;
    }
    p {
      color: $white;
      font-size: $font-l;
      line-height: 21px;
      text-align: justify;
    }
  }
}

.text {
  @include clearfix;
  padding: 0 10%;

  .menu-wrapper {
    overflow: hidden;
    margin: 0 0 0em 0;
    padding: 0 0 0em;
  }

  .wrapper {
    overflow: hidden;
    margin: 0 auto 3em auto;
    padding: 0 0 2em;
  }

  .box {
    width: 33%;
    float: left;
    margin: 3em 0em;

    .header {
      margin: 0em 20px 0em 20px;
      padding: 3em 0em 0.2em;
      border-bottom: 1px solid $yellow;
      @include clearfix;

      h2 {
        float: left;
        font-weight: bold;
        font-size: $font-xl;
        font-family: 'PT Sans';
        font-style: italic;
        padding-top: 1em;
        max-width: 75%;
      }
    }
    p.box-text {
      padding: 0.5em 20px 0em;
      text-align: justify;
    }
    .img-center {
      display: block;
      margin: 2em auto 0;
    }
    .more {
      float: right;
      height: auto;
      padding: 0 20px 0 0;

      a {
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
        color: $black;
        border-bottom: 1px solid $yellow;
      }
      a:hover {
        color: $yellow;
      }
    }
  }

  .right-side {
    width: auto;
    height: auto;
    margin: 0 0 1em 0em;

    .header {
      border-bottom: 1px solid $yellow;
      font-weight: bold;
      margin: 1em 0 1em;
      padding: 0 0 0.2em 0;
      
      h1 {
        font-family: 'PT Sans';
        font-style: italic;
        max-width: 75%;
        font-size: $font-xl;
      }
    }
    h2 {
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      margin: 0 0 1em 0;
      text-align: justify;
      padding-top: 0.6em;
      font-size: $font-s;
    }
  }
}