/*
@media only screen and (min-width:1200px) {
  header, footer, .main, .text {
    margin: 0 auto;
    
    .wrapper {
      max-width: 960px;
      margin: 0 auto;
    }
  }
}
*/
@media only screen and (max-width:900px) {
  header, footer, .main, .text {
    padding: 0 2%;
    height: auto;
    
  }
  header {
    .wrapper {
      background-size: contain;
      height: auto;
    }
    h1.header-logo-left {
      background-position: center center;
      background-size: 80% 80%;
    }
  }

  .main-menu {
    text-align: center;

    ul {
      padding: 1em 0;
    }

    ul li {
      margin: 0 1em 0 0;
    }
  }

  .form-wrapper {
    width: auto;
  
    .form-left,
    .form-right {
      width: 100%;
      clear: both;
    }
  
    input {
      width: 100%;
    }

    textarea {
      width: 100%;
    }
  }

  footer {
    .wrapper {
      background-size: contain;
      background-position: 100% 50%;
      background-size: 50%;
      height: auto;
    }
  }
  .main {
    .box1 {
      width: auto;
      height: auto;
      float: none;
      min-height: 100px;
    }
  }
  .text {
    padding: 0 2% 20px 2%;

    .box {
      width: 100%;
      float: none;
    }
    .right-side {
      margin: 1em 0em;
    }
  }
  .p-wrap {
    img {
      float: right;
      width: 50%;
      margin: 0 0 0 10px;
    }
    &.left img {
      margin: 0 10px 0 0;
    }
  }

}