@media only screen and (min-width:1200px) {
  header, footer, .main, .text {
    margin: 0 auto;
    
    .wrapper {
      max-width: 960px;
      margin: 0 auto;
    }
  }
}
@media only screen and (max-width:900px) {
  header, footer, .main, .text {
    padding: 0 2%;
    height: auto;

    .wrapper {
    }
  }
  header {
    .wrapper {
      background-size: contain;
      height: auto;
    }
    h1.header-logo-left {
      width: 100%;
      height: auto;
      float: none;
    }
  }

  .main-menu {
    text-align: center;

    ul {
      padding: 1em 0;
    }

    ul li {
      margin: 0 1em 0 0;
    }
  }

  footer {
    .wrapper {
      background-size: contain;
      background-position: 100% 50%;
      background-size: 50%;
      height: auto;
    }
  }
  .main {
    .box1 {
      width: auto;
      height: auto;
      float: none;
      min-height: 100px;
    }

    .bcg-buttons {
      text-align: center;
      clear:both;
      float: none;
    }
  }
  .text {
    padding: 0 2% 20px 2%;

    .box {
      width: 100%;
      float: none;
    }
    .right-side {
      margin: 1em 0em;
    }
  }

}