//how to run
/*
powershell
cd 'C:\wamp\www\vinohradska85\style'
sass --watch scss:css --style compressed
*/

//fonts
$font-s:	0.85em;	//14px
$font-m:	1.0em;	//16px
$font-l:	1.125em;	//20px
$font-xl:	1.25em;	//24px

$red:	#CA1F18;
$yellow: #FDC50A;
$red-opacity: rgba(#CA1F18, 0.7);

$white: #fff;
$black: #000;

