//how to run
/*
powershell
cd 'C:\wamp\www\vinohradska85\style'
sass --watch scss:css --style compressed
*/

//fonts
$font-xs:	0.675em;	//12px
$font-s:	0.85em;	//14px
$font-m:	1.0em;	//16px
$font-l:	1.125em;	//20px
$font-xl:	1.25em;	//24px
$font-xxl:	1.5em;	//30px
$font-xxxl:	2em;	//30px


$red:	#C82227;
$yellow: #FFC50A;
$red-opacity: rgba(#C82227, 0.7);

$white: #fff;
$black: #000;

